# Django
DEBUG=True
DJANGO_SETTINGS_MODULE=semovientes.settings.development
SECRET_KEY="bmh6kx(yt8@-_uth$x)t!_fte!+5$8p#jjh31twjr+9(qi5inq"
ALLOWED_HOSTS=dev.semovientes.com,

# DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=basica
POSTGRES_DB=semovientes